html{
  height:100%;
}

*{
  font-family: 'Georgia',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  display:block;
  overflow-x:hidden;
}


head{
  display:none;
}

body{
  margin:0;
  height:100%;
}
  .square1{
    width:100%;
    height:100%;
    background-image:url('https://picsum.photos/500/500?grayscale');
    background-size:cover;
    margin:0;
  }
  .square2{
    width:100%;
    height:100%;
    background-color:#fafafa;
    position:absolute;
    top:0;
    right:0;
    box-shadow:7px 0 0 0 #cacaca;
    text-align:right;
  }

  .title-name{
    position:relative;
    top:48%;
    right:10%;
    font-size:5rem;
    color:#4a4a4a;
  }
