@media screen and (max-width:576px) {

  header{
    height:43px;
  }

  .header-left{
    height:43px;
    width:230px;
  }

  #header-img{
    height:40px;
    position:relative;
    bottom:5px;
  }

  .branch-name{
    background-color:white;
    line-height:33px;
    height:33px;
    font-weight:bold;
    color:#707070;
    font-size:15px;
    position:relative;
    bottom:5px;
  }

  .header-right{
    display:block;
  }

  .mobile-menu{
    margin-top:43px;
  }

  .top-wrapper{
    padding-top:60px;
  }

  .container{
    width:95%;
    margin:auto;
  }

  .container-login {
    padding-top: 120px;
  }

  .side-bar{
    display:none;
    border-right:none;
  }
}

@media screen and (max-width:768px) {

    header{
      height:43px;
    }

    .header-left{
      height:43px;
      width:230px;
    }

    #header-img{
      height:40px;
      position:relative;
      bottom:5px;
    }

    .branch-name{
      background-color:white;
      line-height:33px;
      height:33px;
      font-weight:bold;
      color:#707070;
      font-size:15px;
      position:relative;
      bottom:5px;
    }

    .header-right{
      display:block;
    }

    .mobile-menu{
      margin-top:43px;
    }

    .top-wrapper{
      padding-top:60px;
    }

    .container{
      width:95%;
      margin:auto;
    }

    .container-login {
      padding-top: 120px;
    }

    .side-bar{
      display:none;
      border-left:none;
    }
}

@media screen and (max-width:992px) {}
